<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Token</title>
  </head>
  <body>

    <style>
      h1 {

      }
      .token_div {
        text-align: center;
        margin-top: 100px;
      }


.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin-top: 10px;
  padding: 20px 31px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
}

    </style>

<h1>Token = <%= token %></h1>

<div class="token_div">
  <form class="" action="/token" method="post">
      <button type="submit" class="button-22" name="button">Logout</button>
  </form>

</div>



  </body>
</html>
